/**
 * Versión 1.0.0
 */
@charset "utf-8";

/**
 * Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/**
 * Mobile
 */

/** General */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/** Body */
body {
    background-color: #C96868;
    color: #D0E0E3;
}

/** Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

/** Encabezados */
h1,
h2 {
    font-family: 'Montserrat';
    font-size: 3.6em;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    
}


/** Main */
main h2 {
    color: #3b565b;
    font-size: 2.8rem;
    padding: 5px;
}

main {
   
    padding: 4em 2em;
    background-color: #FFF;
    min-height: 45vh;
}

main p {
    font-size: 2.4em;
    line-height: 1.5;
    text-align: left;
    color: #2977a4;
}

main p strong, 
main p em {
    font-size: 1em;
}

main p strong {
    font-weight: 700;
}

main p em {
    font-style: italic;
}

main ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: flex-start;
    width: 100%;
}

main ul li {
    margin-left: 2em;
    font-size: 2.4em;
    line-height: 1.5;
    text-align: left;
    color: #1A4A5E;
}

main ul li strong,
main ul li em {
    font-size: 1em;
}

main ul li strong {
    font-weight: 700;
}

main ul li em {
    font-style: italic;
}


nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #FADFA1;
    
}



/* main button  */
nav button {
    margin: .5em 0;
    border: solid #7EACB5;
    border-radius: .5em;
    font-weight: bold;
    padding: .25em .5em;
    background: #FFF4EA;
    cursor: pointer;
    font-size: 2.4em;
    line-height: 1.5;
    text-align: center;
    box-shadow: 10px 10px 13px 6px rgba(0,0,0,0.71);
    -webkit-box-shadow: 10px 10px 13px 6px rgba(0,0,0,0.71);
    -moz-box-shadow: 10px 10px 13px 6px rgba(0,0,0,0.71);
}

nav button:hover {
    background: #e39246;
}

.pista-larga {
    color: rgb(88, 23, 78);
    background-color: #c968687c;
    outline: 0.1rem solid #fffffffd;
    border-radius: 1rem;
}

.pista-larga::after {
  content: "[+ 3 min]";
  display: block;
  text-align: end;
  font-weight: bold;
}


main div.galeria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin: 1em 0;
    width: 100%;
    padding: 1em;
    background: #7EACB5;
}

main div.galeria > img {
    max-width: 90%;
    margin: 1em 5%;
}

main div.galeria > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
}

main div.galeria div {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0.5rem solid #c96868;
    border-radius: 1rem;
    background-color: #FADFA1;
    outline: 0.5rem solid #fffffffd;
}

main div.galeria div img {
    width: 74%;
    margin: auto;
}

main div.galeria div h3 {
    padding: .5em;
    font-size: 2rem;
    text-align: center;
    color: #134F5C;
}

main div.galeria div p {
    padding: 1em;
    font-size: 1.6em;
    text-align: center;
}

ol, ol li {
    color: black;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Montserrat';
    font-size: 1.2em;
}

main hr {
    margin: 1em 0%;
    width: 100%;
    height: .1em;
}

/** Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

footer ul li {
    font-family: 'Montserrat';
    font-size: 1.4em;
    line-height: 1.5;
    text-align: center;
}

footer ul li a {
    font-family: 'Montserrat';
    font-size: 1em;
    text-decoration: none;
    color: #D0E0E3;
}

footer ul li a:hover {
    color: #a2c4c9;
}

/** Overs */
main button:hover {
    opacity: .8;
}

/**
 * Web
 */
@media screen and (min-width: 960px) {

    /** Main */
    main div.galeria {
        flex-direction: row;
    }

    main div.galeria > img {
        max-width: 24%;
        margin: 1em .5%;
    }

    main div.galeria div {
        align-self: flex-start;
        width: 30%;
    }

    /** Footer */
    footer ul {
        flex-direction: row;
    }

}